#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE = 1

%:
	dh $@ -Scmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_LIBDIR=lib/$(DEB_HOST_MULTIARCH) \
		-DCMAKE_INSTALL_INCLUDEDIR=include

override_dh_auto_test:
	# Skip tests during package build
	echo "Skipping tests"

override_dh_strip:
	dh_strip --dbg-package=libcogserver-dbg
