:root {
  --text-color-light: rgb(0 0 0);
  --text-color-dark: rgb(255 255 255);
  --bg-color-light: rgb(255 255 255);
  --bg-color-dark: rgb(10 10 10);
  --progress-bar-color: rgb(244 114 182);
  --bg-color: var(--bg-color-light);

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

html {
  background: var(--bg-color);
  color: var(--text-color-light);
  transition: all 0.3s ease-in-out;
}

html.dark {
  --bg-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  color-scheme: dark;
}
